@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-ExtraboldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/inter/InterDisplay-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}